<br><div style="border:1px solid black;padding:0;background-color:white;" class="container" ng-Controller="c_jobController">

<p align="center"><h1 style="background-color:cyan;padding:15px;text-align:center;margin-top:-16px;">Featured Jobs</h1></p>
<div align="center" ng-repeat="job in jobs">
  <div class="card" style="width:80%;text-align:left;border:1px solid black;">
  <div class="card-header">
    <div style="font-size:20px;font-weight:bold;float:left;">{{job.jobtitle}}</div>
    <div style="font-size:15px;float:right;"><b>Date: </b>{{job.job_posted_date}}</div>
  </div>
    
    <div class="card-body">
    	<p><b>Job Description: </b>{{job.jobdescription}}</p>
    	<p><b>Salary: </b>{{job.jobsalary}}</p>
    	<p style="text-align:bottom;"><b>Vacancies: </b>{{job.no_of_openings}}</p>
    </div> 
    <div class="card-footer">
    	
        <button type="button" class="btn btn-primary" ng-click="applyjobClicked(job.jobid)" ng-hide="CurrentUser == undefined">Apply</button>
  		<button type="button" class="btn btn-danger" ng-click="deletejob(job.jobid)" ng-show="CurrentUser.role=='ROLE_ADMIN'">Delete</button>
        
    </div>
 	</div>
  <br><br>
  </div>

</div>