<div class="container" ng-controller="c_chatController">
<br><br>	
<div style="float:left;">
	<div class="card" style="width:450px;height:400px;padding:0px;border:1px solid black;">
 	 <h4 style="background-color:powderblue;padding:10px;" align="center" class="card-title"><b>Type Message</b></h4><br>
    	<div class="card-body">
    	<form ng-submit="addMessage()" name="chatMsg">
   			<div class="input-group mb-3">
      			<div class="input-group-prepend">
        		<span class="input-group-text"><i class="fa fa-envelope" style="font-size:20px"></i></span>
      			</div>
      			<textarea rows="4" cols="140" name="message" placeholder="Enter Message Here" ng-model="message" class="form-control"></textarea>
				&nbsp;&nbsp;<p style="font-size:20px;" class="count" ng-bind="max-message.length">140</p>		
    		</div>
    		<br><br>
    		<div align="left">
    			<button style="width:44%;" ng-disabled="message.length>140||message.length==0" class="btn btn-lg btn-primary"><i class="fa fa-paper-plane" style="font-size:20px"></i>&nbsp;&nbsp;&nbsp;Send</button>	
    			<button style="width:44%;" type="reset" class="btn btn-lg btn-warning">Reset</button>
  			</div>
  		</form>
	
		</div>
	</div>
</div>
		
		
<div style="float:right;">
	<div class="card" style="width:650px;min-height:550px;padding:0px;border:1px solid black;">
 	 <h4 style="background-color:powderblue;padding:10px;" align="center" class="card-title"><b>Chat</b></h4>
    	<div class="card-body">
    		<div ng-repeat="message in messages|orderBy:'time':true">
    			<div style="float:left;width:80%;">{{message.message}}</div>
  				<div style="float:right;width:20%;">{{message.time|date:'h:mm a'}}</div>
			</div>
		</div>
	</div>
<hr> 
</div>				
</div>