<div class="container" ng-Controller="c_forumController">

  <h2 align="center" style="margin:20px 0;">ADD FORUM</h2>
  <form>
    <div class="form-group">
      <label for="forumtitle">Forum Title:</label>
      <input type="text" class="form-control" ng-model="forum.forumtitle" placeholder="Enter Forum Title" name="forumtitle">
    </div>
    <div class="form-group">
      <label for="forumcontent">Forum Content:</label>
      <textarea class="form-control" rows="5" name="forumcontent" ng-model="forum.forumcontent" placeholder="Enter Forum Content"></textarea>
    </div>
    <button type="submit" ng-click="addForum()" class="btn btn-primary">ADD</button>
  </form>
</div>