<div class="container" ng-Controller="c_friendController">

<div ng-hide="requestlistsize == undefined" align="center" class="container">  
<br><br>
<div class="card" style="width:600px;padding:0;border:1px solid black;">
	<h4 class="card-title" style="font-weight:bold;text-align:center;background-color:powderblue;padding:15px;">Friend Requests</h4>
    <div ng-repeat="pending in pendingRequests" class="card-body">
    <div>
  		<div style="margin-left:30px;float:left;width:60%;text-align:left;">
  			<p ng-show="CurrentUser.loginname == pending.friendname"><img src="http://localhost:8086/collaborationRestService/friends/profile/getProfilePicture/{{pending.loginname}}" alt="image" width=90px height=100px></p>
        	<p ng-show="CurrentUser.loginname == pending.loginname"><img src="http://localhost:8086/collaborationRestService/friends/profile/getProfilePicture/{{pending.friendname}}" alt="image" width=90px height=100px></p>
  		</div>
  		
  		<div style="float:right;width:30%;text-align:left;">
  			<h5 ng-show="CurrentUser.loginname == pending.friendname">{{pending.loginname}}</h5>
        	<h5 ng-show="CurrentUser.loginname == pending.loginname">{{pending.friendname}}</h5><br>
        	<button class="btn btn-primary" ng-hide="CurrentUser.loginname == pending.loginname" ng-click="acceptRequest(pending.friendid)">Accept</button>
        	<button class="btn btn-danger" ng-hide="CurrentUser.loginname == pending.loginname" ng-click="deleteRequest(pending.friendid)">Reject</button>
        	<button class="btn btn-danger" ng-show="CurrentUser.loginname == pending.loginname" ng-click="deleteRequest(pending.friendid)">Delete</button>
  		</div>
    </div>
    	
    </div>
</div>
</div>

<div align="center" ng-show="requestlistsize == undefined"><br><br>
	<div class="card" style="width:600px;padding:0;border:1px solid black;">
	<h4 class="card-title" style="font-weight:bold;text-align:center;background-color:powderblue;padding:15px;">Friend Requests</h4>
    <div class="card-body">
    	<h5 align="center">No Friend Request !!!</h5>
    </div>
</div>
</div>

</div>